@page "/admin"

<h1 class="text-center">Pagina degli Admin</h1>

<div class="admin-page">    
    <BangListComponent OnBangDeleted="RefreshUserList" />
    <!-- <h2>User Management</h2> -->
    <!-- <AddUserModal OnUserAdded=RefreshUserList /> -->
    <!-- <UserListComponent @ref=userList /> -->
    <!-- <h2>Challenge Management</h2> -->
    <!-- <ChallengeListComponent /> -->
</div>

@code 
{
    private UserListComponent userList;

    async Task RefreshUserList()
    {
        userList.Refresh();
    }
}
