@page "/admin"

<h3>Admin</h3>

<div class="admin-page">
    <h2>User Management</h2>

    <h2>Challenge Management</h2>
    <BangListComponent OnBangDeleted="RefreshUserList" />
    <AddUserModal OnUserAdded=RefreshUserList />
    <UserListComponent @ref=userList/>
    <ChallengeListComponent />
</div>

@code 
{
    private UserListComponent userList;

    async Task RefreshUserList()
    {
        userList.Refresh();
    }
}
