@page "/leaderboard"
@using DrinkingNerf_Engine.Users;
@inject PointSystemService pointSystemService

<PageTitle>Nerf Leaderboard</PageTitle>


@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Score</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private User[]? users;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        users = pointSystemService.GetLeaderboard();
    }
}
